$primary-color: #0fd850;
$heading-color: #262726;
$accent-color: #f9f047 ;
$font-size: 16px;
$line-height: 1.5;

$client-bg-color: #0d0d11;
$client-bg-accent-color: #0d0d11;

$title-font:'Oswald';
$secondary-font: 'Poppins';
